.eventos{
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://lanubefm.com.ar/12-2020/resize_1608563587.jpg);
    background-size: cover;
    color:white;
}
.eventos__btn{
    padding: 1rem;
}
.eventos__btn:hover{
    background-color:black;
    color: white
}