


.integrantes{
    &__cont{
        font-style: italic;
        text-align: -webkit-center;
}
    &__img{
        border-radius: 50%;
    }
    &__row--bg{
        background-color: grey;
        color: white;
    }
}
